<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>UIDer</Name><AddInID>{5d097c3d-4cee-452d-a8e1-c6f5772745f3}</AddInID><Description>Assigns a unique number to the selected features. The "UID" field would be assigned a unique value.</Description><Version>1.0</Version><Image>Images\map-marker_icon.png</Image><Author>Serhat YILMAZTURK</Author><Company>Serhat YILMAZTURK</Company><Date>01/22/2016</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="UIDer_addin.py" namespace="UIDer_addin"><ArcMap>
    <Commands>
        <Button caption="UIDer" category="UIDer" class="ButtonClass1" id="UIDer_addin.button" image="Images\map-marker_16_by_16.bmp" message="" tip="Assigns a unique number to the selected features. The &quot;UID&quot; field would be assigned a unique value."><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="UIDer" category="UIDer" id="UIDer_addin.toolbar" showInitially="true"><Items><Button refID="UIDer_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>